node_modules
npm-debug.log
dist
.git
.gitignore
README.md
.env
.env.local
.env.*.local
docs
screenshoots
test-utils
.storybook
.vscode
.yarn
.claude
.prettierrc.mjs
.stylelintignore
.stylelintrc.json
eslint.config.js
postcss.config.cjs
tsconfig.json
llm.txt
vercel.json
