.root {
  display: flex;
  flex-grow: 1;
  height: 100vh;
  overflow: hidden;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow: hidden;
  padding: 0.5rem 0.5rem 1rem;

  @media (min-width: $mantine-breakpoint-md) {
    padding-left: 0.75rem;
    padding-right: 0.75rem;
  }

  @media (min-width: $mantine-breakpoint-lg) {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1.5rem;
  }

  @media (min-width: $mantine-breakpoint-3xl) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
  }

  @media (min-width: $mantine-breakpoint-4xl) {
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 1.75rem;
  }
}