@layer mantine, mantine-datatable;

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}
